# Ignore logs
/logs/
logs/
*.log

# Ignore datasets
/gender-training-dataset/
/images.npy
/labels.npy
/false_negatives/
/test-set-female/
/test-set-male/
/test-set-large-female/
/gender-master-dataset/

# Ignore virtual environment
/venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE or editor settings
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp

# Ignore build artifacts
/build/
/dist/
/*.egg-info/

# Ignore environment variables
.env
